@import url(https://fonts.googleapis.com/css?family=Asap+Condensed|Baloo+Chettan|Cuprum|Francois+One|Prompt|Saira+Semi+Condensed);@font-face {
  font-family: UTMAVO;
  src: url("../fonts/utm-avo.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: UTMAVO !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

img {
  width: 100%;
}

.card {
  border: none;
  background-color: inherit;
  border-radius: 0;
}

.card .card-body {
  padding: 0;
}

.card .card-footer {
  padding: 0;
  background-color: inherit;
  border: none;
}

.callback {
  position: fixed;
  left: -30px;
  bottom: -20px;
  z-index: 100;
}

.phone_animation {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  transition: visibility .5s;
  visibility: visible;
  margin: 0 auto;
}

.phone_animation a {
  color: white;
}

.phone_animation_circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.5;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
          animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-color: #00aff2;
}

.phone_animation_circle_fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #00aff2;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .2;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
          animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.phone_animation_circle_fill_img {
  background-size: 70%;
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
          animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-color: #00afef;
  text-align: center;
  line-height: 60px;
  color: #FFF;
  font-size: 30px;
  display: block;
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

.m-category-layout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-category-layout .m-item-category {
  -ms-flex-preferred-size: 160px !important;
      flex-basis: 160px !important;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.m-category-layout .m-item-category .img-category {
  height: 88px;
  width: 88px;
  margin: auto auto 12px;
  border-radius: 50%;
  margin-top: 20px;
}

.m-category-layout .m-item-category .m-item-category-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-category-layout .m-item-category .m-item-category-0 a {
  text-align: center;
}

.m-category-layout .m-item-category .m-item-category-0 a span {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .m-category-layout {
    margin-top: 30px;
  }
}

/* Sidebar
-----------------------------------------------------------------------------------------*/
.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}

.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: white;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s, -webkit-box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
  box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
}

.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #1ba8ff;
  box-shadow: 0 0 0 #1ba8ff;
}

.sidebar h2 {
  padding: .5em;
  color: #1abc9c;
}

.sidebar ul {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bolder;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f3f3f3;
}

.sidebar .sidebar-sub-heading {
  border-top: 1px solid #e0e0e0;
  color: #757575;
  display: block;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.sidebar .sidebar-hotline {
  font-size: 16px;
  font-weight: bolder;
  padding: 16px;
  color: #757575;
}

.sidebar .sidebar-hotline .sidebar-number {
  color: #1ba8ff;
}

.sidebar .icon-sidebar {
  width: 18px;
}

.sidebar ul li a {
  color: #757575;
  text-decoration: none;
}

.sidebar .background-sidebar {
  background-image: url(../images/logo/logo.png);
  height: calc(56px*4);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: white;
}

.footer a {
  color: #17a689;
}

/* Blurred class

This class is added to the container
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

#menu #menu-top {
  background-color: #343434;
}

#menu #menu-top #fe_layout_topinfo ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu #menu-top #fe_layout_topinfo ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: white;
  color: white;
  padding: 5px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

#menu #menu-top #fe_layout_topinfo ul li p {
  padding-right: 15px;
  border-right: 1px solid white;
}

#menu #menu-top #fe_layout_topinfo ul li:last-child p {
  border-right: none;
}

#menu #menu-top #fe_layout_topinfo_socialnw .circle {
  padding: 2px;
  border: 3px solid white;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

#menu #menu-top #fe_layout_topinfo_socialnw .circle:hover {
  background-color: white;
}

#menu #menu-top #fe_layout_topinfo_socialnw a {
  line-height: 20px;
  color: white;
  font-size: 13px;
}

#menu #menu-top #fe_layout_topinfo_socialnw a:hover {
  width: 100%;
  height: 100%;
  color: black;
}

#menu #menu-bottom {
  border-bottom: 3px solid #684f40;
  margin-bottom: 2px;
}

#menu #menu-bottom ul {
  list-style-type: none;
}

#menu #menu-bottom ul li {
  text-align: center;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: auto;
  padding: 5px;
  font-size: 14px;
  font-family: 'Mitr', sans-serif;
  color: #684f40;
  text-transform: uppercase;
}

#menu #menu-bottom ul li a {
  color: #684f40;
}

#menu #menu-bottom ul li a:hover {
  color: #fdb822;
}

#menu #menu-bottom ul li a .logo-slogan {
  display: none;
  padding-left: 10px;
  line-height: 138px;
  vertical-align: middle;
  font-size: 32px;
  font-family: 'Cuprum', sans-serif;
  font-weight: 600;
}

#menu #menu-bottom ul li img.logo {
  width: 78px;
  height: 78px;
}

#menu #menu-bottom > ul li {
  border-right: 1px solid #aaabab;
}

#menu #menu-bottom ul li:nth-last-child(6), #menu #menu-bottom ul li:nth-last-child(5), #menu #menu-bottom ul li:nth-last-child(2) {
  border-right: none;
}

@media (min-width: 750px) and (max-width: 999px) {
  #menu #fe_layout_topinfo ul li:nth-last-child(1) {
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 750px) {
  #menu #fe_layout_topinfo_socialnw .circle {
    padding: 2px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    text-align: center;
  }
  #menu #fe_layout_topinfo_socialnw a {
    line-height: 30px;
    color: white;
    font-size: 22px;
  }
}

@media (min-width: 300px) and (max-width: 999px) {
  #menu #menu-bottom ul li a .logo-slogan {
    display: block;
  }
  #menu #menu-bottom ul li img.logo {
    width: 138px;
    height: 138px;
  }
  #menu #menu-bottom ul li:not(:nth-child(4)) {
    display: none;
  }
  #menu #menu-bottom ul li:nth-child(4) {
    width: 100%;
    text-align: center;
  }
  #menu #menu-bottom ul li:last-child(1) {
    width: 100%;
    display: inline-block;
    text-align: left;
  }
}

@media (min-width: 100px) and (max-width: 450px) {
  #menu #menu-bottom ul li img.logo {
    width: 100px;
    height: 100px;
    padding: 0;
  }
  #menu #menu-bottom ul li a .logo-slogan {
    font-size: 26px;
    line-height: 100px;
  }
}

#menu #menu_top {
  background-color: #F2F2F2;
}

#menu #menu_top img.menu_logo {
  height: 50px;
}

#menu #menu_top ul.menu-search {
  display: block;
  height: 46px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  width: 100%;
}

#menu #menu_top ul.menu-search li input {
  height: 49px;
  width: 100%;
  display: block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  color: #333333;
  border: none;
}

#menu #menu_top ul.menu-search li a {
  padding: 15px;
  background-color: #f2b142;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 47px;
  float: left;
}

#menu #menu_logo_center img {
  width: inherit;
}

#menu #menu_bottom {
  background-color: green;
}

#menu #menu_bottom .is_active {
  background-color: #f2b142;
}

#menu #menu_bottom ul.main_menu {
  display: block;
}

#menu #menu_bottom ul.main_menu li {
  display: inline-block;
  padding: 15px;
  position: relative;
}

#menu #menu_bottom ul.main_menu li i {
  color: white;
  font-size: 16px;
  padding-right: 6px;
}

#menu #menu_bottom ul.main_menu li a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

#menu #menu_bottom ul.main_menu li:hover {
  background-color: #f2b142;
}

#menu #menu_bottom ul.main_menu li.has-item-down {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul {
  position: absolute;
  opacity: 0;
  display: none;
  background-color: #f2b142;
  top: 100%;
  left: 0;
  z-index: 9;
  width: 160%;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul li {
  display: block;
  padding-left: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu #menu_bottom ul.main_menu li.has-item-down ul li:hover {
  padding-left: 20px;
}

#menu #menu_bottom ul.main_menu li.has-item-down:hover > ul {
  display: block;
  opacity: 1;
}

#menu #menu_bottom ul.main_menu ul.menu-search {
  display: block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  width: 100%;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search {
  padding: 0;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search input {
  height: 46px;
  width: 100%;
  display: block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  color: #333333;
  border: 1px solid #019934;
  border-left: none;
}

#menu #menu_bottom ul.main_menu ul.menu-search li.li-search a {
  padding: 16px;
  background-color: #f2b142;
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  height: 46px;
}

div#fe_home_banner {
  overflow: hidden;
  background-color: #fff;
  padding: 3px;
  text-align: center;
  height: 386px;
}

div#fe_home_banner img-slider {
  display: block;
  height: 200px;
  background: url(http://preview.milingona.co/themes/bakery/main/wp-content/uploads/2017/12/slide-1.jpg) no-repeat center center/cover;
}

div#fe_home_banner img-slider img {
  position: absolute;
  width: 100%;
  height: auto;
}

@media (min-width: 300px) and (max-width: 999px) {
  div#fe_home_banner {
    height: auto;
  }
}

#h_product {
  border-top: 3px solid #684f40;
  margin-top: 3px;
}

#h_product .header-top hr {
  height: 2px;
  width: 86px;
  background-color: #fdb822;
}

#h_product .header-top p {
  font-size: 22px;
  font-weight: 600;
  color: #684f40;
}

#h_product .header-top span {
  font-size: 16px;
  color: #7d7d7d;
}

#h_product .one-product .wrap_product {
  position: relative;
  width: 99%;
  margin: auto;
  text-align: center;
  background-color: #f9f9f9;
  border: 2px solid #684f40;
  vertical-align: middle;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_product .one-product .wrap_product a img {
  padding: 25px 0 25px 0;
  border: 7px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

#h_product .one-product .wrap_product:hover a img {
  opacity: 0.6;
}

#h_product .one-product .wrap_product:hover .pro-hover-info {
  display: block;
  opacity: 0.9;
}

#h_product .one-product .wrap_product .pro-hover-info {
  display: none;
  position: absolute;
  top: 50%;
  opacity: 0.3;
  width: 100%;
  height: 50%;
  background-color: rgba(253, 184, 34, 0.9);
  z-index: 3;
  -webkit-transition: .3s;
  transition: .3s;
  vertical-align: center;
  text-align: center;
  color: white;
}

#h_product .one-product .wrap_product .pro-hover-info span {
  color: white;
}

#h_product .one-product .wrap_product .pro-hover-info > p {
  padding-top: 25px;
}

#h_product .one-product .wrap_product .pro-hover-info .btn-view-course {
  position: absolute;
  z-index: 1;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 3px solid #fdb822;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fdb822;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  line-height: 36px;
}

#h_product .one-product .wrap_product .pro-hover-info .btn-view-course:hover {
  border: 3px solid #1b1e21;
  background-color: #1b1e21;
  color: white;
}

#h_product .btn-view-all-course {
  padding: 10px 18px;
  background-color: #fff;
  border: 2px solid #684f40;
  color: #684f40;
  font-weight: bolder;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-transition: .3s;
  transition: .3s;
}

#h_product .btn-view-all-course:hover {
  background-color: #684f40;
  color: white;
}

#h_slogun {
  background-image: url("http://preview.milingona.co/themes/bakery/main/wp-content/uploads/2017/12/img-11.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 150px;
}

#h_slogun .bg_img_opacity {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
}

#h_slogun img {
  width: 500px;
  height: auto;
  position: absolute;
  z-index: 1;
  margin: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#h_slogun p {
  font-weight: bolder;
  color: #684f40;
  font-size: 38px;
  padding: 40px 0px 0px 0px;
  font-stretch: expanded;
}

#h_slogun p.de-pro-slogan {
  font-weight: 500;
  font-size: 22px;
  color: #684f40;
  padding-bottom: 220px;
}

@media (min-width: 300px) and (max-width: 999px) {
  #h_slogun img {
    width: 70%;
    height: auto;
    position: absolute;
    z-index: 1;
    margin: auto;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

#h_slider .carousel-item .edit-slide {
  position: relative;
}

#h_slider .carousel-item .edit-slide img.main-slider {
  width: 100%;
}

#h_slider .carousel-item .edit-slide .test-slide {
  position: absolute;
  top: -524px;
}

#h_slider .carousel-item .edit-slide .test-slide h2 {
  font-weight: bolder;
  font-size: 50px;
  letter-spacing: 0px;
  line-height: 1.5;
  color: white;
}

#h_slider .carousel-item .edit-slide .test-slide span {
  color: white;
  line-height: 2;
}

#h_slider .carousel-item .edit-slide .test-slide .phone-call {
  display: table;
  padding: 10px;
  background-color: #02AFEE;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
}

#h_slider .carousel-item .edit-slide .test-slide .phone-call a {
  color: white;
}

#h_slider .carousel-item .edit-slide img.main-slider {
  height: auto;
}

#h_slider .carousel-item .edit-slide img.cloud-slider {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 8;
  width: 80%;
}

#h_slider .carousel-item .edit-slide img.rocket-slider {
  position: absolute;
  bottom: 70px;
  right: 0;
  z-index: 7;
}

#h_slider .carousel-item .edit-slide img.computer-slider {
  position: absolute;
  right: 0;
  bottom: 170px;
  z-index: 7;
  width: 35%;
}

#h_slider .carousel-item .edit-slide img.arrow-slider-1 {
  position: absolute;
  left: 626px;
  bottom: 444px;
  z-index: 7;
}

#h_slider .carousel-item .edit-slide img.chart-slider {
  position: absolute;
  right: 0;
  bottom: 170px;
  z-index: 7;
  width: 35%;
}

@media (max-width: 575.98px) {
  #slider2 .carousel-item .edit-slide .test-slide {
    top: -188px;
  }
  #slider2 .carousel-item .edit-slide .test-slide.center-text {
    margin-left: 5px;
  }
  #slider2 .carousel-item .edit-slide .test-slide h2 {
    font-size: 18px;
  }
  #slider2 .carousel-item .edit-slide .test-slide span {
    display: none;
  }
  #slider2 .carousel-item .edit-slide img.rocket-slider {
    bottom: 19px;
    width: 30%;
  }
  #slider2 .carousel-item .edit-slide img.computer-slider {
    bottom: 98px;
    width: 36%;
  }
  #slider2 .carousel-item .edit-slide img.main-slider {
    height: 185px;
  }
  #slider2 .carousel-item .edit-slide img.arrow-slider-1 {
    left: 222px;
    bottom: 174px;
    width: 30%;
  }
  #slider2 .carousel-item .edit-slide img.chart-slider {
    bottom: 98px;
    width: 36%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #slider2 .carousel-item .edit-slide .test-slide {
    top: -176px;
  }
  #slider2 .carousel-item .edit-slide .test-slide h2 {
    font-size: 22px;
  }
  #slider2 .carousel-item .edit-slide .test-slide span {
    display: none;
  }
  #slider2 .carousel-item .edit-slide img.rocket-slider {
    bottom: 33px;
    width: 15%;
  }
  #slider2 .carousel-item .edit-slide img.computer-slider {
    bottom: 29px;
    width: 36%;
  }
  #slider2 .carousel-item .edit-slide img.main-slider {
    width: 100%;
    height: 250px;
  }
  #slider2 .carousel-item .edit-slide img.chart-slider {
    bottom: 41px;
    width: 36%;
  }
  #slider2 .carousel-item .edit-slide img.arrow-slider-1 {
    left: 291px;
    bottom: 162px;
    width: 35%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #slider2 .carousel-item .edit-slide .test-slide {
    top: -224px;
  }
  #slider2 .carousel-item .edit-slide .test-slide h2 {
    font-size: 36px;
  }
  #slider2 .carousel-item .edit-slide .test-slide span {
    display: none;
  }
  #slider2 .carousel-item .edit-slide img.rocket-slider {
    bottom: 33px;
    width: 15%;
  }
  #slider2 .carousel-item .edit-slide img.computer-slider {
    bottom: 29px;
    width: 36%;
  }
  #slider2 .carousel-item .edit-slide img.main-slider {
    width: 100%;
    height: 300px;
  }
  #slider2 .carousel-item .edit-slide img.chart-slider {
    bottom: 41px;
    width: 36%;
  }
  #slider2 .carousel-item .edit-slide img.arrow-slider-1 {
    left: 423px;
    bottom: 204px;
    width: 25%;
  }
}

@media (min-width: 1024px) and (max-width: 1124px) {
  #slider2 .carousel-item .edit-slide img.arrow-slider-1 {
    left: 582px;
    bottom: 443px;
    width: 35%;
  }
}

div#about_chief {
  background-image: url("http://preview.milingona.co/themes/bakery/main/wp-content/uploads/2017/12/img-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  height: auto;
  position: relative;
  background-attachment: fixed;
}

div.about_chief_cover {
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(253, 184, 34, 0.8);
}

div#img_chief {
  height: 100%;
  overflow: hidden;
  width: auto;
}

div#img_chief img {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div#about_chief p {
  color: #404040;
  line-height: 22px;
  font-weight: 500;
}

div#about_chief_cover span {
  font-size: 14px;
}

@media (min-width: 999px) and (max-width: 1199px) {
  div#img_chief img {
    width: auto;
    height: 100%;
    border-left: 8px solid #d1cfcf;
    border-right: 8px solid #d1cfcf;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: auto;
  }
}

@media (min-width: 300px) and (max-width: 999px) {
  div.about_chief_cover .col-md-6 {
    text-align: center;
  }
  div#img_chief img {
    width: auto;
    height: 100%;
    border-radius: 50%;
    border-left: 8px solid #d1cfcf;
    border-right: 8px solid #d1cfcf;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: auto;
  }
}

#fe_h_dvchinh hr {
  height: 2px;
  width: 86px;
  background-color: #fdb822;
}

#fe_h_dvchinh p {
  font-size: 22px;
  font-weight: 600;
  color: #684f40;
}

#fe_h_dvchinh span {
  font-size: 16px;
  color: #7d7d7d;
}

.img-detail {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #684f40;
  font-size: 38px;
  text-align: center;
  color: #684f40;
  line-height: 90px;
  -webkit-transition: .3s;
  transition: .3s;
}

.img-detail:hover {
  color: #fdb822;
  border: 3px solid #fdb822;
}

div.special-course-cooking hr {
  height: 2px;
  width: 86px;
  background-color: #fdb822;
}

div.special-course-cooking p {
  font-size: 22px;
  font-weight: 600;
  color: #684f40;
}

div.special-course-cooking span {
  font-size: 16px;
  color: #7d7d7d;
}

/* Style the tab */
.tab {
  float: left;
  width: 20%;
  height: auto;
}

/* Style the buttons inside the tab */
.tab a {
  background-color: #fff;
  padding: 5px;
  display: block;
  height: 116px;
  width: 116px;
  border-radius: 50%;
  border: 2px solid #e3e3e3;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 10px;
}

.tab a img {
  width: 100%;
  border-radius: 50%;
}

/* Change background color of buttons on hover */
.tab a:hover {
  background-color: #fff;
  border: 2px solid #fdb822;
}

/* Create an active/current "tab button" class */
.tab a.active {
  background-color: #fff;
  border: 2px solid #fdb822;
}

/* Style the tab content */
.tabcontent {
  border: 2px solid #fdb822;
  float: left;
  padding: 0px 12px;
  width: 80%;
  height: 100%;
}

.tabcontent {
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
}

.tabcontent .col-md-6 {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

/* Go from zero to full opacity */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div#London .row:after {
  content: " ";
  position: absolute;
  top: 13%;
  /* To the left of the tooltip */
  margin-top: -5px;
  left: -10px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-top: 2px solid #fdb822;
  border-left: 2px solid #fdb822;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

div#Paris .row:after {
  content: " ";
  position: absolute;
  top: 43%;
  /* To the left of the tooltip */
  margin-top: -5px;
  left: -10px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-top: 2px solid #fdb822;
  border-left: 2px solid #fdb822;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

div#Tokyo .row:after {
  content: " ";
  position: absolute;
  bottom: 25%;
  /* To the left of the tooltip */
  margin-top: -5px;
  left: -10px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-top: 2px solid #fdb822;
  border-left: 2px solid #fdb822;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

@media (min-width: 500px) and (max-width: 999px) {
  .tab a {
    background-color: #fff;
    padding: 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 126px;
    width: 126px;
    border-radius: 50%;
    border: 2px solid #e3e3e3;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 5px;
  }
  .tab {
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .tabcontent {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}

@media (min-width: 200px) and (max-width: 499px) {
  .tab a {
    background-color: #fff;
    padding: 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 86px;
    width: 86px;
    border-radius: 50%;
    border: 2px solid #e3e3e3;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 5px;
  }
  .tab {
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .tabcontent {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}

div#fe_home_gift {
  background-image: url(http://preview.milingona.co/themes/bakery/main/wp-content/uploads/2017/12/pattern-1-1.jpg?id=1891);
  background-repeat: repeat-x;
}

div#fe_home_gift hr {
  height: 2px;
  width: 86px;
  background-color: #fdb822;
}

div#fe_home_gift p {
  font-size: 22px;
  font-weight: 600;
  color: #684f40;
}

div#fe_home_gift span {
  font-size: 16px;
  color: #7d7d7d;
}

.fe_home_staff {
  width: 100%;
  height: 100%;
  background-color: rgba(253, 184, 34, 0.95);
}

.fe_home_staff .col-md-4 {
  display: table-cell;
  vertical-align: middle;
}

.fe_home_staff .col-md-4 div {
  float: left;
}

.compoment-gift div {
  display: inline-block;
  font-family: 'Nunito Sans', sans-serif;
}

.compoment-gift div:first-child a {
  color: #684f40;
  font-size: 38px;
  line-height: 84px;
}

.compoment-gift div:first-child {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 2px solid #684f40;
  margin-right: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.compoment-gift div:first-child:hover {
  background-color: #5b5b5b;
}

.compoment-gift div:first-child:hover a {
  color: white;
}

.compoment-gift div:last-child > p {
  font-size: 16px;
}

#footer div#layout_master_footer_top .col-md-5 > p {
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  padding-bottom: 30px;
}

#footer div#layout_master_footer_top .col-md-5 > span {
  font-size: 18px;
  color: #aaabab;
  font-family: 'Nunito Sans', sans-serif;
  padding-bottom: 30px;
}

#footer div#layout_master_footer {
  background-color: #202020;
  color: white;
}

#footer div#layout_master_footer ul {
  list-style-type: none;
  margin: 0;
  padding: 30px 0px;
}

#footer div#layout_master_footer ul li {
  display: block;
  font-size: 16px;
  padding: 5px 0px;
}

#footer div#layout_master_footer ul li:first-child {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 16px;
  font-family: 'Mitr', sans-serif;
}

#footer div#layout_master_footer ul li a {
  font-size: 16px;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

#footer div#layout_master_footer ul li a:hover {
  text-decoration: none;
  padding-left: 15px;
  color: white;
}

#footer div#layout_master_footer ul li button {
  border: none;
  background-color: transparent;
}

#footer div#layout_footer_copyright {
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
  color: #9d9fa0;
}

#footer div#layout_footer_copyright span {
  color: white;
}

#footer div.fe-layout-foot-emailus {
  margin-top: 20px;
}

#footer div.fe-layout-foot-emailus button {
  padding: 10px;
  color: #777777;
  background-color: #fff;
  margin-left: 10px;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cuprum', sans-serif;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
}

#footer div.fe-layout-foot-emailus button:hover {
  color: white;
  background-color: #fdb822;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

#footer div.fe-layout-foot-emailus input {
  font-family: 'Nunito Sans', sans-serif;
  padding: 6px;
  background-color: #4f5050;
  color: white;
  border: 2px solid #aaabab;
  font-size: 16px;
}

@media (min-width: 300px) and (max-width: 999px) {
  #footer #footer_aboutus {
    text-align: center;
  }
  #footer .fe-layout-foot-emailus {
    text-align: center;
  }
  #footer .fe-layout-foot-emailus input {
    width: 90%;
    margin-bottom: 10px;
  }
  #footer div.fe-layout-foot-emailus button {
    width: 90%;
    margin: auto;
  }
}

#p_detail {
  border-top: 3px solid #684f40;
  margin-top: 3px;
}

#p_detail #tab_detail_pro .tab2 {
  overflow: hidden;
}

#p_detail #tab_detail_pro .tab2 button {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #ddd;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
  margin-right: 3px;
}

#p_detail #tab_detail_pro .tab2 button:hover {
  background-color: #fdb822;
}

#p_detail #tab_detail_pro .tab2 button.active {
  background-color: #fdb822;
}

#p_detail #tab_detail_pro .tabcontent2 {
  display: none;
  padding: 26px 22px;
  border: 1px solid #ccc;
  line-height: 1.8;
  font-size: 18px;
}

#p_detail #tab_detail_pro .tabcontent2 span {
  padding: 10px;
}

#p_detail #fe_pro_detail_spec .col-12:nth-child(2) p {
  font-size: 26px;
  color: #fdb822;
  font-weight: normal;
}

#p_detail #fe_pro_detail_spec .col-12:nth-child(2) p span {
  font-size: 16px;
  color: #fdb822;
  font-weight: normal;
}

#p_detail #fe_pro_detail_spec .col-12:nth-last-child(1) a {
  display: inline-block;
  line-height: 36px;
  color: white;
}

#p_detail #fe_pro_detail_spec .col-12:nth-last-child(1) a .circle {
  text-align: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #684f40;
  -webkit-transition: .3s;
  transition: .3s;
}

#p_detail #fe_pro_detail_spec .col-12:nth-last-child(1) a .circle:hover :hover {
  background-color: #fdb822;
}

#p_detail #fe_pro_detail_spec button {
  margin-top: 30px;
  padding: 18px 10px;
  border: none;
  color: white;
  background-color: #fdb822;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 600;
}

#p_detail #fe_pro_detail_spec button:hover :hover {
  background-color: #684f40;
}

@media (min-width: 300px) and (max-width: 599px) {
  #p_detail .tab {
    width: 100%;
  }
  #p_detail .tab button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
}

#p_relate #fe_home_outlates_products_p p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #684f40;
  display: block;
  border-bottom: 2px solid #d4d4d4;
  position: relative;
}

#p_relate #fe_home_outlates_products_p p:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 2px;
  background-color: #fdb822;
  left: 0;
  bottom: -2px;
}

#p_relate .product-relative {
  position: relative;
}

#p_relate .product-relative .nav-arrow {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  z-index: 999;
  top: 0;
  opacity: 0;
  width: 100%;
}

#p_relate .product-relative .nav-arrow button.owl-prev, #p_relate .product-relative .nav-arrow button.owl-next {
  border: 1px solid #e4e4e4;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  outline: none;
}

#p_relate .product-relative .nav-arrow button.owl-prev i, #p_relate .product-relative .nav-arrow button.owl-next i {
  color: #e4e4e4;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#p_relate .product-relative .nav-arrow button.owl-prev {
  float: left;
  margin-left: -20px;
}

#p_relate .product-relative .nav-arrow button.owl-next {
  float: right;
  margin-right: -20px;
}

#p_relate .product-relative:hover .nav-arrow {
  opacity: 1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#p_relate .product-relative .owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#p_relate .product-relative .owl-carousel .owl-stage .fe_pro_detailpro {
  position: relative;
  width: 92%;
  margin: auto;
  text-align: center;
  background-color: #f9f9f9;
  border: 2px solid #684f40;
  vertical-align: middle;
  -webkit-transition: .3s;
  transition: .3s;
}

#p_relate .product-relative .owl-carousel .owl-stage .fe_pro_detailpro a img {
  padding: 25px 0 25px 0;
  border: 7px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
}

#p_relate .product-relative .owl-carousel .owl-stage .fe_pro_detailpro:hover a img {
  opacity: 0.6;
}

#p_relate .product-relative .owl-carousel .owl-stage .fe_pro_detailpro:hover .pro-hover-info {
  display: block;
  opacity: 0.9;
}

#p_relate .product-relative .owl-carousel .owl-stage .fe_pro_detailpro .pro-hover-info {
  display: none;
  position: absolute;
  top: 50%;
  opacity: 0.3;
  width: 100%;
  height: 50%;
  background-color: rgba(253, 184, 34, 0.9);
  z-index: 3;
  -webkit-transition: .3s;
  transition: .3s;
  vertical-align: center;
  text-align: center;
  color: white;
}

#p_relate .product-relative .owl-carousel .owl-stage .fe_pro_detailpro .pro-hover-info span {
  color: white;
}

#p_relate .product-relative .owl-carousel .owl-stage .fe_pro_detailpro .pro-hover-info p {
  padding-top: 25px;
}

#p_relate .product-relative .owl-carousel .owl-stage .fe_pro_detailpro .pro-hover-info .btn-view-course {
  position: absolute;
  z-index: 1;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 3px solid #fdb822;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fdb822;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  line-height: 36px;
}

#p_relate .product-relative .owl-carousel .owl-stage .fe_pro_detailpro .pro-hover-info .btn-view-course:hover {
  border: 3px solid #1b1e21;
  background-color: #1b1e21;
  color: white;
}

div#category_list .col-md-12 > p {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #684f40;
  display: block;
  padding-bottom: 15px;
  border-bottom: 2px solid #b6b6b5;
  text-transform: uppercase;
}

div#category_list .description {
  line-height: 1.8;
}

div#category_list .col-md-12 > p:before {
  position: absolute;
  content: '';
  width: 58px;
  height: 2px;
  background-color: #fdb822;
  bottom: -2px;
}

div#category_list .category_items a img {
  width: 138px;
  height: 138px;
  border: 3px solid #f9f9f9;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
}

div#category_list .category_items a:hover img {
  border-radius: 50%;
  border: 3px solid #fdb822;
}

div#category_list .category_items p {
  font-size: 18px;
  color: #684f40;
  font-weight: 600;
}

div#category_list .category_items .pl-3 > a {
  font-size: 16px;
  color: #fdb822;
  font-weight: 600;
}

#contact_info {
  margin-bottom: 20px;
  margin-top: 20px;
}

#contact_info .contact_top {
  line-height: 1.5 !important;
}

#contact_info .contact_top div i {
  font-size: 30px;
  border: 2px solid #5d5d5e;
  padding: 10px;
  border-radius: 50%;
  color: #5d5d5e;
}

#contact_info .contact_top div .addres_contactus {
  color: #035aeb;
  font-weight: 600;
}

#contact_info .contact_top h3.title {
  font-weight: bold;
  font-size: 24px;
}

#contact_info .contact_top p {
  margin-bottom: 20px;
  line-height: 1.5;
}

#contact_info .contact_top h4 {
  font-size: 26px;
  color: red;
  margin-bottom: 20px;
  font-weight: 600;
}

#contact_info .contact_top ul {
  list-style: none;
}

#contact_info .contact_top ul li {
  width: 100%;
}

#contact_info .contact_top ul li i {
  margin-right: 10px;
  border: 2px solid #1b1e21;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  padding: 6px;
  margin: auto;
}

#contact_info .contact_bottom .input-group {
  margin-bottom: 20px;
}

#contact_info .contact_bottom .input-group input, #contact_info .contact_bottom .input-group textarea {
  border-radius: inherit;
}

#contact_info .contact_bottom button {
  border-radius: inherit;
  background-color: #0d51db;
  color: white;
  font-weight: bold;
}

#contact_info .contact_bottom button .successSending, #contact_info .contact_bottom button .loadingSending {
  margin-left: 5px;
}

@media (max-width: 575.98px) {
  #contact_info .contact_top {
    margin-top: 20px;
  }
  #contact_info .contact_bottom .button-group {
    text-align: center;
  }
}

#introduce-info {
  margin-top: 20px;
}

#introduce-info h1 {
  display: block;
  text-align: center;
  font-size: 28px;
  color: #0d51db;
}

#introduce-info #content-info .description {
  margin-top: 20px;
  line-height: 1.5 !important;
}

#ii_content {
  background-image: url(http://expert-themes.com/html/motor-expert/images/background/pattern-2.png);
  background-size: cover;
}

#ii_content p {
  position: relative;
  font-size: 23px;
  font-weight: bold;
}

#ii_content p:before {
  bottom: -10px;
  left: 50%;
  position: absolute;
  content: '';
  width: 68px;
  height: 3px;
  background-color: red;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#ii_content span {
  line-height: 23px;
}

#ii_content img {
  border: 3px solid #5b5e61;
  width: 68px;
  height: auto;
  border-radius: 50%;
}

#ii_content img.battery-chinhhang {
  border: 3px solid #5b5e61;
  width: 68px;
  height: auto;
  padding: 8px;
  border-radius: 0;
  margin-right: 20px;
}

#ii_content .customer-feedback {
  position: relative;
  padding: 20px 18px;
  border: 3px solid #5b5e61;
  margin-left: 10px;
  border-radius: 5px;
  line-height: 28px;
}

#ii_content .customer-feedback:before {
  position: absolute;
  top: 45%;
  left: -7px;
  content: '';
  width: 10px;
  height: 10px;
  border-top: 3px solid #5b5e61;
  border-left: 3px solid #5b5e61;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: white;
}

#ii_content .customer-feedback span.title_ldnp {
  font-weight: bold;
}

#ii_content img.img-customer2 {
  display: none;
}

#ii_content .customer-feedback img.battery-chinhhang2 {
  display: none;
  border: 3px solid #5b5e61;
  width: 68px;
  height: auto;
  padding: 8px;
  border-radius: 0;
  margin-right: 20px;
}

#ii_content #contact_info2 span.special-thank {
  font-size: 20px;
  color: red;
}

#ii_content #contact_info2 > a {
  color: #088cd8;
  line-height: 20px;
  font-weight: 600;
}

@media (min-width: 300px) and (max-width: 700px) {
  #ii_content img.img-customer1 {
    display: none;
  }
  #ii_content img.img-customer2 {
    display: block;
    margin: auto;
    margin-top: 8px;
  }
  #ii_content .customer-feedback img.battery-chinhhang {
    display: none;
  }
  #ii_content .customer-feedback:before {
    content: '';
    border-top: 0;
    border-left: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: transparent;
  }
}

#al_info {
  padding-top: 20px;
}

#al_info .grid-album .grid-sizer,
#al_info .grid-album .grid-item {
  width: 33.333%;
}

#al_info .grid-album .grid-item {
  float: left;
}

#al_info .grid-album .grid-item img {
  display: block;
  max-width: 100%;
}
