div#fe_layout_topinfor_social {
  background-color: #343434;
}

div#fe_layout_topinfo ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div#fe_layout_topinfo ul li {
  display: inline-flex;
  color: white;
  color: white;
  padding: 5px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

div#fe_layout_topinfo ul li p {
  padding-right: 15px;
  border-right: 1px solid white;

}

div#fe_layout_topinfo ul li:last-child p {
  border-right: none;
}

div#fe_layout_topinfo_socialnw div.circle {
  padding: 2px;
  border: 3px solid white;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  transition: .3s;
}

div#fe_layout_topinfo_socialnw div.circle:hover {
  background-color: white;
}

div#fe_layout_topinfo_socialnw a:hover {
  width: 100%;
  height: 100%;
  color: black;
}

div#fe_layout_topinfo_socialnw a {
  line-height: 20px;
  color: white;
  font-size: 13px;
}

@media (min-width: 750px) and (max-width: 999px){
  div#fe_layout_topinfo ul li:nth-last-child(1){
    display: none;
  }


}
@media (min-width: 300px) and (max-width: 750px){

  div#fe_layout_topinfo_socialnw div.circle {
    padding: 2px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    text-align: center;

  }

  div#fe_layout_topinfo_socialnw a {
    line-height: 30px;
    color: white;
    font-size: 22px;
  }
}