#fe_layout_topmenu_logo{
  border-bottom: 3px solid #684f40;
  margin-bottom: 2px;
}

#fe_layout_topmenu_logo ul {
  list-style-type: none;
}

#fe_layout_topmenu_logo ul li {
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  margin: auto;
  padding: 15px;
  font-size: 20px;
  font-family: 'Mitr', sans-serif;
  color: #684f40;
}

#fe_layout_topmenu_logo ul li a{
  color: #684f40;
}

#fe_layout_topmenu_logo ul li a:hover{
  color: #fdb822;
}

#fe_layout_topmenu_logo > ul li {
  border-right: 1px solid #aaabab;
}

#fe_layout_topmenu_logo ul li:nth-last-child(6),
#fe_layout_topmenu_logo ul li:nth-last-child(5),
#fe_layout_topmenu_logo ul li:nth-last-child(2){
  border-right: none;
}


img.logo{
  width: 78px;
  height:78px;
}

.logo-slogan{
  display: none;
  padding-left: 10px;
  line-height: 138px;
  vertical-align: middle;
  font-size: 32px;
  font-family: 'Cuprum', sans-serif;
  font-weight: 600;
}

@import url('https://fonts.googleapis.com/css?family=Asap+Condensed|Baloo+Chettan|Cuprum|Francois+One|Prompt|Saira+Semi+Condensed');


@media (min-width:  300px) and (max-width: 999px){

  #fe_layout_topmenu_logo ul li:not(:nth-child(4))
  {
    display: none;
  }

  .logo-slogan{
    display: block;
  }

  #fe_layout_topmenu_logo ul li:nth-child(4)
  {
    width: 100%;
    text-align: center;
  }

  #fe_layout_topmenu_logo ul li:last-child(1)
  {
    width: 100%;
    display:inline-block;
    text-align: left;
  }

  img.logo{
    width: 138px;
    height: 138px;
  }

}
@media (min-width: 100px) and (max-width: 450px) {
  img.logo{
    width: 100px;
    height: 100px;
    padding: 0;
  }

  .logo-slogan{
    font-size: 26px;
    line-height: 100px;
  }
}
